source https://www.nuget.org/api/v2/

framework: auto-detect
strategy: min

nuget FSharp.Core
nuget Giraffe
nuget Giraffe.Razor
nuget Microsoft.AspNetCore.Authentication.Cookies
nuget Microsoft.AspNetCore.Diagnostics
nuget Microsoft.AspNetCore.Hosting
nuget Microsoft.AspNetCore.Hosting.WindowsServices
nuget Microsoft.AspNetCore.Server.IISIntegration
nuget Microsoft.AspNetCore.Server.Kestrel
nuget Microsoft.AspNetCore.StaticFiles
nuget Microsoft.Extensions.DependencyInjection
nuget Microsoft.Extensions.FileProviders.Physical
nuget Microsoft.Extensions.Logging.Console
nuget Microsoft.Extensions.Logging.Debug
nuget System.Security.Principal.Windows
nuget System.Runtime.CompilerServices.Unsafe
nuget Microsoft.Extensions.Configuration
